[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
mock = "*"
python-dotenv = "*"
freezegun = "*"

[packages]
grpcio = "==1.31.0"
grpcio-tools = "==1.31.0"
grpcio-reflection = "==1.31.0"
pandas = "*"
click = "==0.7"
redis = "*"
scikit-learn = "*"
statsmodels = "~=0.10.1"
pyarrow = "*"
setuptools = "==50.3.0"
tensorflow = "==2.3.1"
dependency-injector = "==3.44.0"
protobuf = "==3.10.0"

[requires]
python_version = "3.8.2"
