[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
grpcio = "==1.18.0"
grpcio-tools = "==1.18.0"
grpcio-reflection = "==1.18.0"
python-dotenv = "*"
pandas = "*"

[requires]
python_version = "3.7.1"
